.content {
  position: relative;

  min-height: 100vh;
  padding: ($margin-base * 2);

  background-color: #fff;
  border-left: solid 1px $side-border-color;

  box-shadow: 0 0 40px 0 #ddd;

  transition: border-left-color $side-animation-duration $side-animation-effect;
}

.menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;

  display: none;
  width: 40px;

  &:hover {
    text-decoration: none;

    > .bar {
      opacity: .8;
    }
  }

  > .bar {
    display: block;
    height: 6px;

    border-radius: 3px;

    + .bar {
      margin-top: 6px;
    }
  }
}

.page-content {
  &.width-600 { max-width: 600px; }
  &.width-800 { max-width: 800px; }
  &.width-1000 { max-width: 1000px; }
  &.width-1200 { max-width: 1200px; }

  &.font-size-14 { font-size: 14px; }
  &.font-size-15 { font-size: 15px; }
  &.font-size-16 { font-size: 16px; }
  &.font-size-17 { font-size: 17px; }
  &.font-size-18 { font-size: 18px; }
  &.font-size-19 { font-size: 19px; }
  &.font-size-20 { font-size: 20px; }
}

.content-heading {
  margin-top: 0;
  margin-bottom: $margin-base;

  font-size: 48px;
  font-weight: 400;
  color: #555;
}

hr {
  border-bottom-color: #eee;
}
