/*
 * Custom Primer variables.
 */

$container-width: 100%;
$grid-gutter: 40px;

// Font stack
$body-font: 'Lato', arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

// The base body size
$body-font-size: 14px;

/*
 * Imports Primer.
 */

// Global requirements
@import "../../bower_components/primer-css/scss/variables";
@import "../../bower_components/primer-css/scss/mixins";

// Basecoat
@import "../../bower_components/primer-css/scss/normalize";
@import "../../bower_components/primer-css/scss/base";
@import "../../bower_components/primer-css/scss/type";
@import "../../bower_components/primer-css/scss/layout";
@import "../../bower_components/primer-css/scss/forms";
@import "../../bower_components/primer-css/scss/utility";

// Components
@import "../../bower_components/primer-css/scss/alerts";
@import "../../bower_components/primer-css/scss/avatars";
@import "../../bower_components/primer-css/scss/blankslate";
@import "../../bower_components/primer-css/scss/counter";
@import "../../bower_components/primer-css/scss/buttons";
@import "../../bower_components/primer-css/scss/menu";
@import "../../bower_components/primer-css/scss/tabnav";
@import "../../bower_components/primer-css/scss/filter-list";
@import "../../bower_components/primer-css/scss/states";
@import "../../bower_components/primer-css/scss/tooltips";

// Utilities
@import "../../bower_components/primer-css/scss/flex-table";
@import "../../bower_components/primer-css/scss/truncate";
