title = "Blog Post"
url = "/:slug"
layout = "default"
description = ""
hidden = "0"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/tag"
==
<?php
function onEnd()
{
  if (isset($this['post'])) {
    $this->page->title = $this->post->title;
    $this->page->description = $this->post->excerpt;

    if (count($this->post->featured_images) != 0) {
      $this['metaImage'] = URL::to($this->post->featured_images[0]->path);
    }
  }
  else {
    return $this->controller->run('/404');
  }
}
?>
==
{% set post = blogPost.post %}

<article class="blog-post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="blog-header">

    <h1 class="content-heading" itemprop="headline">{{ post.title }}</h1>

    {% for image in post.featured_images %}

      <img class="blog-featured-image" src="{{ image.path|app }}" alt="{{ image.description }}" itemprop="image">

    {% endfor %}

    {% if post.excerpt %}

      <p class="lead blog-excerpt" itemprop="description">{{ post.excerpt }}</p>

    {% endif %}

  </header>

  <div class="markdown-body" itemprop="articleBody">
    {{ post.content_html|raw }}
  </div>

  <footer class="blog-footer">

    <hr>

    <p class="info">
        Posted
        {% if post.categories.count %} in
            <span itemprop="keywords">
              {% for category in post.categories %}
                  <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </span>
        {% endif %}
        on <time itemprop="datePublished" datetime="{{ post.published_at|date('Y-m-d') }}">{{ post.published_at|date('M d, Y') }}</time>
        by <span itemprop="author">{{ post.user.full_name }}</span>
    </p>

    <div class="btn-share-group">

      <span class="btn-share btn-share-label">Share this post:</span>

      {% set url = ''|page|url_encode %}
      {% set title = post.title|url_encode %}

      {% set social = [
        ['facebook',    'Facebook',    'https://www.facebook.com/sharer/sharer.php?u=' ~ url],
        ['gplus',       'Google+',     'https://plus.google.com/share?url=' ~ url],
        ['twitter',     'Twitter',     'https://twitter.com/home?status=' ~ url],
        ['reddit',      'Reddit',      'https://reddit.com/submit?url=' ~ url ~ '&amp;title=' ~ title],
        ['tumblr',      'Tumblr',      'https://tumblr.com/widgets/share/tool?canonicalUrl=' ~ url],
        ['stumbleupon', 'StumbleUpon', 'https://www.stumbleupon.com/submit?url=' ~ url ~ '&amp;title=' ~ title],
        ['linkedin',    'LinkedIn',    'https://www.linkedin.com/shareArticle?url=' ~ url ~ '&amp;mini=true&amp;title=' ~ title ~ '&amp;summary=' ~ post.excerpt|url_encode ~ '&amp;source=' ~ url],
      ] %}

      {% for n in social %}

        <a class="btn-share btn-share-{{ n[0] }}" href="{{ n[2]|raw }}" target="_blank" title="Share on {{ n[1] }}" aria-label="Share on {{ n[1] }}" role="button"></a>

      {% endfor %}

    </div>

  </footer>

</article>
